.mainBg {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchCard {
  background-color: palegoldenrod;
}

.searchResults{
  background-color: pink;
}

thead {
  background-color: lightblue;
  border: black 1px solid;
}

tbody{
  background-color: antiquewhite;
  border: black 1px solid;
}