.mainBg {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 35px;
}

button {
  height: 40px;
  margin-left: 5px;
}


.searchResults{
  width: 400px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 2px;
}

thead {
  background-color: lightblue;
}

tbody{
  background-color: whitesmoke;
}
